* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}


body {
    background-color: rgb(243, 243, 243);
}

main {
    width: 100%;
    min-height: 85vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.instagram-phone img {
    height: 35rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 45%;
    min-height: 34rem;
    margin-right: 5vh;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}


/* media queries */

@media (max-width: 1024px) {    
    .instagram-wrapper {
        width: 90%;
        height: 75vh;
    }

    .footer__nav{
        width: 58vh;
    }
    
}


@media (max-width: 775px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
        height: 100vh;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }

    .footer{
        display: none;
        height: 0vh;
    }

    .footer-wrapper {
         display: none;
         
    }
  
    .footer__nav{
        display: none;
        
    }

    .footer__copyright{
        display: none;
        
    }

    .instagram-continue {
        margin-right: 0vh;
    }

    .get-the-app {
        width: 75%;
    }
}

@media (max-height: 685px) {    

    .footer__nav{
        display: none;
    }

    .footer__copyright{
        display: none;
    }

    .instagram-wrapper {
        width: 90%;
        height: 95vh;
    }
}


/*footer */

.footer{
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center; /* horizontal */
    flex-direction: column;
    justify-content: center;
    padding: 1.3rem 0;
    margin: 0;
    padding: 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 10vh;
}

.footer__list{
    display: flex;
    flex-wrap: wrap;
}

.footer__list-item{
    margin-right:15px;
}

.footer__link{
    font-size: 12px;
    color:#999;
    
}

.footer__copyright{
    margin-top: 15px;
    font-size: 12px;
    color:#999;
    padding: 1.3rem 0;
}